fastapi
uvicorn
sqlalchemy
pymysql
pydantic
pydantic-settings
python-multipart
python-jose
passlib
bcrypt
cryptography
joblib
scikit-learn
numpy
pandas
scipy
python-dotenv
requests
email-validator
typing-extensions
annotated-types